canvas {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
    object-fit: contain;
    margin-top: -602px;
    margin-left: 5px;
}
.video{
    width: 800px;
    height: 600px;
    margin-top: 30px;
    margin-right: 25px;
    border: 5px black solid;
    border-radius: 25px;
    display: flex;
}
.image {
    object-fit: fill;
    width: 800px;
    display: flex;
    margin-top: 150px;
}
#Screenshot-Btn, .screenshot {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);

}
.src-preview {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.65);
    display: none;
}
.src-preview.show{
    display: block;
}
.src-preview .screenshot {
    background: white;
    width:70%;
    aspect-ratio: 16 / 9;
    top: 50%;
}
.screenshot img{
    width: 100%;
}
.screenshot #close-btn{
    position: absolute;
    right: -25px;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
}

