.title {
    font-family: "JetBrains Mono", serif;
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    transition: 3s;
    font-size: 35px;
}
.title:hover {
    color: rgb(255, 255, 255);
}
.bodytitles {
    font-family: "JetBrains Mono", serif;
    font-weight: bold;

}
.bodyp {
    margin-top: 25px;
    font-family: "JetBrains Mono", serif;
    display: flex;
    max-width: fit-content;
    font-size: small;
    margin-bottom: 50px;
    margin-left: 65px;
    transition: 3s;
    text-align: center;
}